<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CompareNETObjects" version="3.01.0.0" targetFramework="net461" />
  <package id="EntityFramework" version="6.1.1" targetFramework="net461" />
  <package id="EntityFramework.BulkInsert-ef6" version="6.0.2.8" targetFramework="net461" />
  <package id="EntityFramework.Extended" version="6.1.0.121" targetFramework="net461" />
  <package id="EntityFramework.MappingAPI" version="6.0.0.7" targetFramework="net461" />
  <package id="Fody" version="1.29.2" targetFramework="net461" developmentDependency="true" />
  <package id="log4net" version="2.0.10" targetFramework="net461" />
  <package id="PropertyChanged.Fody" version="1.51.3" targetFramework="net461" developmentDependency="true" />
  <package id="RefactorThis.GraphDiff" version="2.0.1" targetFramework="net461" />
  <package id="SwissEphNet" version="2.5.1.13" targetFramework="net461" />
</packages>